#include<stdio.h>
#include <math.h>
#include<string.h>
#include<conio.h>
#include<ctype.h>
#include<stdlib.h>
// tim so chinh phuong trong day so nguyen, chi ra vi tri, tim so lon nhat, tinh tong

int scp(int n){
	if(n == 1 || n == 0) return 0;
	else if(sqrt(n) == (int)(sqrt(n))){
		return 1;
	}
	return 0;
}

int main(){
	int size;
	printf("nhap so luong phan tu trong mang: "); scanf("%d",&size);
	printf("\nnhap so cac phan tu trong mang: ");
	int array[size];
	int i;
	for(i = 0; i < size; i++){
		scanf("%d",&array[i]);
	}
	int max = 1;
	int s = 0;
	for(i = 0; i < size; i++){
		if(scp(array[i])){
			printf("so chinh phuong %d ", array[i]);
			printf("nam o vi tri %d\n",i+1);
			if(max < array[i]) max = array[i];
			s += array[i];
		}
	}
	printf("\nso lon nhat la %d",max);
	printf("\ntong cac so la %d",s);
	
	
	return 0;
}
